@charset "UTF-8";

*{
    font: normal 20px arial, verdana, serif;
    background-attachment: fixed;
}

body{
    background-image:linear-gradient(to right, #98a6d4bb, #6147aac7 );
}

main{
    background-color: aliceblue;
    margin: auto;
    width: 1000px;
    padding: 20px;
    border-radius: 15px;
}
h1{
    text-align: center;
    font: bold 26px arial,verdana,serif;
    color: #ff6373;
}

h2{
    text-align: justify;
    font: bold 21px arial,verdana,serif;
}

p{
    text-align: justify;
    text-indent: 1cm;
}