@charset "UTF-8";

main{
    font: italic bold 18px 'work sams',sans serif;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 15px;
    width: 1000px;
}

body{
    background-image: linear-gradient(to top, #c438d9a1,#a432f0 );
    background-attachment: fixed;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 45px;
    text-align: center;
    background-color:#5d488a7a;
    color: #6200ff;
}
h2,h3{
    color: #7030e6;
}