@charset "UTF-8";

*{
    background-attachment: fixed;
}

h1{
    text-align: center;
}
body{
    background-image: linear-gradient(to top, #BFC3F4,#CBB9F5,#F5BDBD,#f730305b);
}
.imagem01{
    text-align: center;
    margin: 15px;
}
.livro01{
    text-align: justify;
}

main{
    background-color: aliceblue;
    margin: 50px;
    border-radius: 15px;
    padding: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
    
}

.imagem02{
    text-align: center;

}

