@charset "UTF-8";

*{
    background-attachment: fixed;
}


h1{
    text-align: center;
}

nav{
    text-align: center;
}

nav > a{
    color: black;
    background-color: rgb(208, 163, 250);
    padding: 5px;
    text-decoration: none;
}

nav>a:hover{
    background-color: rgb(106, 2, 204);
    color: aliceblue;
    border-radius: 5px;
    padding: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.479);
    font-size: 18px;
}
body{
    background-image: linear-gradient(to top, #BFC3F4,#CBB9F5,#F5BDBD,#f730305b);
}
.imagem01{
    text-align: center;
    margin: 15px;
}
.livro01{
    text-align: justify;
}

main{
    background-color: aliceblue;
    margin: 50px;
    border-radius: 15px;
    padding: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
    
}

.imagem02{
    text-align: center;

}

