@charset "UTF-8";

@font-face {
    font-family:terror;
    src: url('fontes/Angel\ wish.otf') format(opentype), url('fontes/Angel\ wish.ttf') format(truetype);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: hallowen;
    src: url(fontes/Spoky\ Spiders.otf) format(opentype),url(fontes/Spoky\ Spiders.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: feliz;
    src: url(fontes/HalloweenWitches-Display.otf) format(opentype), url(fontes/HalloweenWitches-Script.otf) format(opentype);
    font-style: normal;
    font-weight: normal;
}

h1{
    font-family: hallowen;
    text-align: center;
    font-style: normal;
    font-size: 15mm;

}
h2{
    font-family: terror;
    text-align: justify;
    font-size: 6mm;
}

p{
    font-family: feliz;
    text-align: justify;
    font-size: 4mm;

}